<!DOCTYPE html> 
<html lang="ru"> 
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Пост [Фокшаны.] Еще переходъ до Фо…</title>
  </head>
  <body>	   
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="../posts/index.html">
            <img src="../img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>        
          <ul class="nav  nav-pills">
            <li class="nav-item">              
              <a class="nav-link" href="../about/author.html">
                Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../about/tech.html">
                Технологии
              </a>
            </li>
            <!-- пункты меню видны только авторизованному пользователю -->
            <li class="nav-item">
              <a class="nav-link" href="../posts/create_post.html">
                Новая запись
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light " href="../users/password_change_form.html">
                Изменить пароль
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light" href="../users/logged_out.html">Выйти</a>
            </li>
            <li>
              Пользователь: leo
            <li>
            <!-- конец пункты меню видны только авторизованному пользователю -->
            <!-- пункты меню видны только неавторизованному пользователю -->
            <li class="nav-item"> 
              <a class="nav-link link-light" href="../users/login.html">
                Войти
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light " href="../users/signup.html">Регистрация</a>
            </li>
            <!-- конец пункты меню видны только неавторизованному пользователю -->        
          </ul>      
        </div>
      </nav> 
    </header>
    <main>
      <div class="container py-5">
        <div class="row">
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Дата публикации: 31 июля 1854
              </li>               
              <li class="list-group-item">
                Группа: Группа: Лев Толстой – зеркало русской революции
                <a href="../posts/group_list.html">
                  все записи группы
                </a>
              </li>            
              <li class="list-group-item">
                Автор: Лев Толстой leo
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Всего постов автора:  <span >36</span>
              </li>
              <li class="list-group-item">
                <a href="../posts/profile.html">
                  все посты пользователя
                </a>
              </li>
            </ul>
          </aside>
          <article class="col-12 col-md-9">
            <img src="../img/tolstoy.jpg" width="960" height="339" alt="">
            <p>
              [Фокшаны.] Еще переходъ до Фокшанъ, во время котораго я ѣхалъ съ Монго. Человѣкъ 
              пустой, но съ твердыми, хотя и ложными убѣжденіями. Генерал[у] по этому должно 
              быть случаю, угодно было спрашивать о моемъ здоровьи. Свинья! К[о]вырялъ носъ и 
              ничего не написалъ — вотъ 2 упрека за нын[ѣшній] день. Послѣдній упрекъ становится 
              слишкомъ частъ, хотя походъ и можетъ служить въ немъ отчасти извиненіемъ. 
              Отношенія мои съ товарищами становятся такъ пріятны, что мнѣ жалко бросить штабъ. 
              Здоровье кажется (2) лучше.
            </p>
             <!-- эта кнопка видна только автору -->
            <a class="btn btn-primary" href="../posts/update_post.html">
              редактировать запись
            </a>
            <!-- эта форма видна только авторизованному пользователю  -->
            <div class="card my-4">
              <h5 class="card-header">Добавить комментарий:</h5>
              <div class="card-body">
                <!-- action ведет на обработчик формы  -->
                <form method="post" action="">
                  <!-- не забываем генерировать токен!  -->
                  <input type="hidden" name="csrfmiddlewaretoken" value="">      
                  <div class="form-group mb-2">
                    <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text">
                    </textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
              </div>
            </div>
            <!-- комментарии перебираются в цикле  -->
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">
                  <a href="../posts/profile.html">
                    admin
                  </a>
                </h5>
                <p>
                  Монго -- экай чудакъ
                </p>
              </div>
            </div>
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">
                  <a href="../posts/profile.html">
                    admin
                  </a>
                </h5>
                <p>
                  Граф - я ваш фанат
                </p>
              </div>
            </div>
          </article>
        </div>     
      </div>
    </main>
    <footer class="border-top text-center py-3">
      <p>© 2021 Copyright <span style="color:red">Ya</span>tube</p>    
    </footer>
  </body>
</html>
