{% extends 'base.html' %}
{% block title%}
Записи сообщества {{ group.title }}
{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>{{ group.title }}</h1>
  <p>{{group.description}}</p>
    {% include 'includes/feed.html' %}
    {% include 'includes/paginator.html' %}
</div>
{% comment %} 
    липовый цикл для pytest 
    мне показалось разумной идеей вынести ленту публикаций в отдельный инклюд 
    т.к. она повторяется на 2 страницах 
    но пайтест требует цикл в файле group_list.html, и вон он 
    иначе не отправить работу на ревью 
{% endcomment %} 
{% for i in '0'|make_list %} 
{% endfor %} 
{% endblock %}